{% load static %}
<section class="grid-about about-section">
    <div class="grid-about-item grid-about-child-1 about-left-col">
        <p class="p-about" id="about">
            Welcome to our small home bakery! We specialize in creating
            delicious baked goods made with high-quality ingredients and lots of
            love. From pastries to cakes and cookies, we offer a variety of
            treats to satisfy your sweet tooth. Our goal is to provide our
            customers with a warm and welcoming experience, where they can
            indulge in our homemade goodies while feeling like part of the
            family. Come visit us and taste the difference that comes from
            baking with care and attention to detail.
        </p>
    </div>
    <div class="grid-about-item grid-about-child-2 about-right-col">
        <img
            src="{% static '/images/heidyprofile.jpg' %}"
            alt="Heidy's photo."
        />
    </div>
</section>
