{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock title %} | HMC</title>
        <link rel="stylesheet" href="{% static '/css/main.css' %}" />
        <script src="{% static '/js/main.js' %}" defer></script>
    </head>
    <body class="grid-body">
            {% include 'core/navbar.html' %}
        <main>
            {% block content %}{% endblock content%}
        </main>
            {% include 'core/footer.html' %}
    </body>
</html>
