<footer class="grid-footer">
    <p class="p-footer">
        Explore our cozy home bakery, where we craft delightful treats with
        premium ingredients and genuine care. Indulge in pastries, cakes,
        and cookies that embody our passion and make you feel like family.
        Join us for a comforting and flavorful experience that stems from
        our meticulous baking approach.
    </p>
    <ul class="ul-footer">
        <li><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li>
            <a href="https://www.instagram.com/heicakesusa/">Gallery</a>
        </li>
        <li><a class="order-cta" href="#">Order Now</a></li>
    </ul>
</footer>
