{% load static %}
<section class="hero-section">
    {% if messages %} {% for message in messages %}
    <p class="dj-message">{{message}}</p>
    {% endfor %} {% endif %} {% comment %}
    <p class="dj-message">Form submitted.</p>
    {% endcomment %}
    <div class="grid-hero hero">
        <div class="grid-hero-item grid-hero-child-1 hero-left-col">
            <div class="title">
                <h1 class="header">Your Dream Wedding, Our Masterpiece</h1>
                <h2 class="subheader">
                    Imprint Your Love Story with Every Slice
                </h2>
            </div>
            <div class="grid-hero-cta hero-cta">
                <button type="button" class="order-cta">Order Now</button>
                <a
                    type="button"
                    href="https://www.instagram.com/heicakesusa/"
                >
                    <button class="gallery-cta">Instagram</button>
                </a>
            </div>
        </div>
        <div class="grid-hero-item grid-hero-child-2 hero-right-col">
            <img
                src="{% static '/images/couple-cutting-cake.jpg' %}"
                alt="couple cutting their wedding cake."
            />
        </div>
    </div>
</section>
