{% extends "core/base.html" %}
{% load static %}
{% block title %}Welcome{% endblock title %}
{% block content %}
<section class="hero-section">
    <div class="container">
        <div class="hero-left-col">
            <p class="subhead">Your Dream Wedding, Our Masterpiece</p>
            <h1 class="header">Imprint Your Love Story with Every Slice</h1>
            <div class="hero-cta">
                <a class="primary-cta" href="{% url 'core:contact' %}">Order Now</a>
                <a class="portfolio-link" href="https://{{ portfolio_link }}">Gallery</a>
            </div>
        </div>
        
        <img
        src="{% static '/img/couple-cutting-cake.jpg' %}"
        alt="couple cutting their wedding cake."
        class="hero-img"
        />
    </div>
</section>
<section>
    <div class="features-section">
        <div class="container">
            <ul class="features-list">
                <li>Custom Designs</li>
                <li>Attention to Detail</li>
                <li>Premium Ingredients</li>
                <li>Wedding Cake Expertise</li>
                <li>Personalized Consultation</li>
            </ul>
        </div>
    </div>
</section>
{% endblock content %}
